.c_createItem{
  padding-top: 10px;

  input[type='text']{
    background-color:transparent;
    color:#fff;
    box-shadow: none;
    border:none;
    font-size:2em;
    text-align:center;
    height:50px;
    border-bottom: 2px solid #aaa;
    border-radius: 0px;
  }

}
