.c_createItem{
  margin: 10px 0;
  padding: 10px;
  background-color:#fff;
  border-radius:5px;

  input[type='text']{
    padding-left:20px;
    background-color:transparent;
    color:#444;
    box-shadow: none;
    border:none;
    font-size:2em;
    text-align:left;
    height:50px;
    border-bottom: 2px solid #eee;
    border-radius: 0px;
  }
  select{
    width:100%;
    margin: 0;
    margin-left: -15px;
    margin-top: 10px;
    background-color: #eee;
    color:#444;
    box-shadow: none;
    border:none;
    font-size:1.5em;
    text-align:center;
  }

  button{
    margin-top: 10px;
  }

  .btn-container{
    padding: 0;

  }
  .btn-xplusz{
    box-shadow:none;
    background-color: #eee;
    color:#222;
    font-weight:bold;
    transition: .2s;
  }

  .btn-xplusz:hover{
    background-color: #aaa;
  }

  .btn-xplusz__search{
    margin-top: 0;
    border:none;
    height:50px;
  }

}
